body{
	font-family: sans-serif;
	width: 200px;
	height: 150px;
	background-color: white;
	color: gray;
}

/*.button{
	background-color: transparent;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}*/

#download-button {
    background-image: url('./icons/download.png'); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: center;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 70px;           /* make this the size of your image */
    padding-left: 70px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}